@model AppUserSignInViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 text-black">
            <div class="text-center girisMarginYukselik">
                <img src="~/img/agac.png" />
            </div>
            <div class="d-flex align-items-center h-custom-2 ms-xl-4 mt-xl-n5">
                <form asp-action="GirisYap" method="post" class="mt-5 mx-auto girisFormWidth">
                    <h3 class="fw-normal mb-3 pb-3 text-center">Hoş Geldiniz!</h3>
                    <div class="form-outline mb-4">
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-outline mb-4">
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="Password" class="form-control" />
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-success btn-sm girisButton" value="Giriş Yap" />
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-6 d-none d-sm-block">
            <img src="~/img/login.png"
                 alt="Login image" class="w-100 vh-100" >
        </div>
    </div>
</div>



