@using System.Security.Claims;
@{
    string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>
    <div class="container mt-2">
        <ul id="menu">
            <li> <a asp-action="HatSatisEkle" asp-controller="HatSatis"><i class="fas fa-tasks"></i>  Hat Satış İşlemleri</a></li>
            <li> <a asp-action="Index" asp-controller="Hat"><i class="fas fa-tasks"></i>  Hat Listesi</a></li>
            @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin"))
            {
                <li> <a asp-action="OnayBekleyenHatListesi" asp-controller="HatSatis"><i class="fas fa-tasks"></i>  Hat Onay İşlemleri</a></li>
            }
            <li><a asp-area="" asp-action="CikisYap" asp-controller="Home"><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a></li>
        </ul>
        @RenderBody()
    </div>
    @RenderSection("JavaScript",false)
   
</body>

</html>

