@{
    string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }
}

<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/lib/template-css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/lib/fontAwesome/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="border border-primary border-left-0 border-top-0 border border-bottom-0 border-right" id="sidebar-wrapper">
         
            <div class="list-group list-group-flush">
                <a asp-action="Index" asp-controller="HatSatis" class="list-group-item list-group-item-action  @(active=="hatSatis"?"active":"")"><i class="fas fa-tasks"></i>  Hat Satış İşlemleri</a>
                <a asp-action="Index" asp-controller="HatKullanim" class="list-group-item list-group-item-action  @(active=="hatKullanim"?"active":"")"><i class="fas fa-tasks"></i>  Hat Kullanım Listesi</a>
                <a asp-area="" asp-action="CikisYap" asp-controller="Home" class="list-group-item list-group-item-action "><i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <script src="~/lib/fontAwesome/js/all.min.js"></script>
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("JavaScript",false)
   
</body>

</html>

